<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>firstly</title>
</head>
<body>
<h1>{{ question.question_text }}</h1>
{% if error_massage %}<p><strong>{{ error_massage }}</strong></p>{% endif %}
<form action={% url 'polls:vote' question.id %}, method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}<input type="radio" name="choice" id="choice{{ forlorn.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forlorn.counter }}"> {{choice.choice_text}} </label><br>
    <label for="choice{{ forlorn.counter }}"> {{question.file}}</label><br>
    {% endfor %}
<input type="submit" value="Vote">
</form>

<ul>
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }}</li>
{% endfor %}
</ul>
</body>
</html>